.container{
    background-color: #0bebeb;
    padding-bottom: 20px;
    
}
#show{
    background: rgb(245, 244, 244);
    border: double;
    margin: 20px;
    width:90%;
    height:20%;
    padding: 15px;
    font-size:25px;
}
.row{
    margin-left: 3%;
    margin-right: 5%;
}
.btn{
    border-right: solid 1px black;
}
.cut{
    border:none;
}